.invoice-alert-warning {
  margin-bottom: 15px;
}

.invoice-export-list {
  .invoice-header-mouse-over {
    cursor: pointer;
  }

  th {
    &:last-child {
      cursor: auto;
    }
  }
}
